@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Raleway);
@font-face {
  font-family: oratorstd;
  src: url("fuentes/OratorStd.otf") format("opentype");
}
@font-face {
  font-family: gothamlight;
  src: url("fuentes/Gotham-Light.otf") format("opentype");
}
@font-face {
  font-family: gothamBook;
  src: url("fuentes/Gotham Book Regular.otf");
}
/* BARRA DE NAVEGACION  (ESTO SE VE EN ESCRITORIO)*/
.topnav {
  font-family: oratorstd;
  justify-content: space-between;
  display: flex;
  overflow: hidden;
  background-color: #333333ff;
  z-index: 3;
}
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 2rem 1.5rem;
  text-decoration: none;
  font-size: 17px;
}
@media only screen and (min-width: 1500px) {
  .topnav a {
    font-size: 27px;
  }
}
.topnav a:hover {
  color: #00A1BB;
}
.topnav .active {
  color: #00A1BB;
}

/* LOGO */
.logo {
  background-image: url("logo-dispreh.svg");
  width: 4rem;
  height: 70px;
  /* margin: 2rem, 2rem; */
  margin-top: 1.6rem;
  margin-left: 2rem;
  padding-bottom: 2.2rem;
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: 4;
}

/* BOTON DE MENU */
/* contenedor */
.btn-menu {
  margin: 1rem 2rem;
  padding-top: 1rem;
  z-index: 2;
}

/* desaparecerlo en movil */
.topnav-right {
  display: none;
}

/* boton */
/* DIMENSIONES DEL LOGO Y MENU IPAD */
@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .logo {
    width: 6rem;
  }

  .btn-menu {
    padding-top: 2rem;
  }
}
/* DESAPARECER MENU Y MOSTRAR BARRA DE NAVEGACION */
@media only screen and (min-width: 1100px) {
  .btn-menu {
    display: none;
  }

  .topnav-right {
    display: block;
    float: right;
    padding-top: 2.2rem;
    padding-right: 2rem;
    z-index: 2;
  }

  .logo {
    width: 6rem;
    margin-top: 3rem;
    margin-left: 3rem;
  }

  .iconos a {
    padding-top: 1.65rem;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
  }
}
@media only screen and (min-width: 1100px) and (min-width: 1500px) {
  .iconos a {
    font-size: 20px;
  }
}
/* MENU Y SU ANIMACION  (ESTO ES LO QUE SE VE EN MOVIL)*/
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  background-color: #28324D;
  overflow-x: hidden;
  -webkit-transition: 1.5s;
  transition: 1.5s;
}
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: white;
  display: block;
  transition: 0.3s;
}
.overlay .closebtn {
  position: absolute;
  padding-top: 0px;
  height: 86px;
  right: 0px;
  font-size: 54px;
  padding-right: 34px;
}
@media only screen and (min-width: 768px) and (max-width: 899px) {
  .overlay .closebtn .overlay .closebtn {
    position: absolute;
    right: 45px;
    font-size: 80px;
  }
}
.overlay .iconos-menu {
  display: flex;
  justify-content: center;
  padding-top: 5rem;
}
.overlay .iconos-menu .fa-1x {
  font-size: 0.6em;
}
.overlay .iconos-menu {
  display: flex;
  justify-content: center;
  padding-top: 5rem;
}
.overlay .overlay-content {
  position: relative;
  top: 15%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}
.overlay .overlay-content a .active, .overlay .overlay-content a:hover, .overlay .overlay-content a:focus {
  color: #929292;
}

/* Encerrar iconos en círculos */
i.fab {
  /* margin: 0.5em; */
  color: white;
  border: 1px solid #929292;
  border-radius: 50%;
  padding: 0.5em;
  transition: all 0.5s ease;
  width: 2.1em;
  text-align: center;
}
i.fab:hover {
  background: #929292;
}

#portada-movil {
  width: 100%;
}
@media only screen and (min-width: 900px) {
  #portada-movil {
    display: none;
  }
}

#portada-xl {
  width: 100%;
  display: none;
}
@media only screen and (min-width: 900px) {
  #portada-xl {
    display: block;
  }
}

.portada {
  margin-top: -96px;
}
@media only screen and (min-width: 900px) {
  .portada {
    margin-top: -126px;
  }
}
@media only screen and (min-width: 1500px) {
  .portada {
    margin-top: -148px;
  }
}
.portada .texto {
  position: absolute;
  top: 55vw;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  opacity: 0.7;
}
@media only screen and (min-width: 900px) {
  .portada .texto {
    opacity: 1;
    top: 30vw;
    left: 38vw;
  }
}
.portada h1 {
  font-size: 20vw;
}
@media only screen and (min-width: 900px) {
  .portada h1 {
    font-size: 9vw;
  }
}
.portada .dispreh {
  color: #00A1BB;
  opacity: none;
}

.seccion1 {
  display: flex;
  flex-wrap: wrap;
}
@media only screen and (min-width: 900px) {
  .seccion1 {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}
.seccion1 .columna {
  flex: 100%;
  display: flex;
  flex-wrap: wrap;
}
@media only screen and (min-width: 900px) {
  .seccion1 .columna:nth-child(1) {
    flex: 50%;
    order: 2;
    padding-right: 10rem;
    letter-spacing: 2px;
  }
}
.seccion1 .columna:nth-child(2) {
  padding: 2rem;
  justify-content: center;
}
@media only screen and (min-width: 900px) {
  .seccion1 .columna:nth-child(2) {
    display: flex;
    align-items: center;
    flex: 50%;
    order: 1;
  }
}
.seccion1 .columna p {
  margin-left: 2rem;
  margin-right: 2rem;
  font-family: gothamlight;
}
.seccion1 .columna p:nth-child(1) {
  padding-top: 2rem;
  font-size: 19px;
}
.seccion1 .columna p:nth-child(2) {
  font-size: 14px;
}
.seccion1 .columna p:nth-child(3) {
  display: none;
}
@media only screen and (min-width: 900px) {
  .seccion1 .columna p:nth-child(3) {
    display: block;
  }
}
#block {
  content: url("imagenes_home/ladrillos.png");
  height: 65vw;
}
@media only screen and (min-width: 700px) {
  #block {
    height: 45vw;
  }
}
@media only screen and (min-width: 900px) {
  #block {
    height: 30vw;
  }
}
@media only screen and (min-width: 1500px) {
  #block {
    height: 17vw;
  }
}

h6 {
  text-align: center;
  font-family: oratorstd;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 1.2rem;
}
@media only screen and (min-width: 900px) {
  h6 {
    font-size: 3.2rem;
  }
}

.img-contenedor-movil {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media only screen and (min-width: 900px) {
  .img-contenedor-movil {
    display: none;
  }
}
.img-contenedor-movil .chico {
  flex: 50%;
  display: flex;
  flex-direction: column;
}
.img-contenedor-movil .grande {
  flex: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.img-contenedor-movil .contenedor {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 99.5%;
  height: 99%;
  margin: 1px;
  border: 1px solid #D8D8D8;
}
.img-contenedor-movil .contenedor a {
  text-align: center;
  color: #989898;
  display: flex;
    flex-direction: column;
    justify-content: center;
}
.img-contenedor-movil img {
  padding: 2rem;
  padding-bottom: 1rem;
}
.img-contenedor-movil img:nth-child(1) {
  padding: 1rem;
}
.img-contenedor-movil .button {
  background-color: #D8D8D8;
  border: none;
  color: #00A1BB;
  font-size: 14px;
  cursor: pointer;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  margin-top: 3rem;
  letter-spacing: 2px;
}
@media only screen and (min-width: 900px) {
  .img-contenedor-movil .button {
    background: white;
    font-size: 28px;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 6.5rem;
    padding-right: 6.5rem;
    border: 1px solid black;
    transition: all 0.5s ease;
  }
  .img-contenedor-movil .button:hover {
    background-color: #333333ff;
    text-decoration: none;
  }
}

.grid-container {
  display: none;
  grid-gap: 2px;
  padding: 2px;
  grid-auto-columns: 1fr;
  height: 50vw;
}
@media only screen and (min-width: 900px) {
  .grid-container {
    display: grid;
  }
}
.grid-container a {
  /*GRID-ITEM*/
  background-color: white;
  text-align: center;
  align-items: center;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  text-decoration: none;
  filter: brightness(0.7);
}
.grid-container a .nombre {
  opacity: 0;
  transition: all 0.5s ease;
  color: white;
  background-color: rgba(168, 220, 231, 0.5);
  width: 100%;
}
.grid-container a:hover {
  filter: brightness(1);
}
.grid-container a:hover .nombre {
  opacity: 1;
}
.grid-container a:nth-child(1) {
  background-image: url("imagenes_home/blockXL.png");
  background-size: 16.5vw;
  filter: brightness(0.5);
}
.grid-container a:nth-child(1):hover {
  filter: brightness(1);
}
.grid-container a:nth-child(2) {
  background-image: url("imagenes_home/adocretoXL.png");
  background-size: 10vw;
}
.grid-container a:nth-child(3) {
  background-image: url("imagenes_home/poliestirenoXL.png");
  background-size: 20vw;
  filter: brightness(0.5);
}
.grid-container a:nth-child(3):hover {
  filter: brightness(1);
}
.grid-container a:nth-child(4) {
  background-image: url("imagenes_home/adoquinXL.png");
  background-size: 12vw;
}
.grid-container a:nth-child(5) {
  background-image: url("imagenes_home/adopasto2XL.png");
  background-size: 18vw;
  filter: brightness(0.5);
}
.grid-container a:nth-child(5):hover {
  filter: brightness(1);
}
.grid-container a:nth-child(6) {
  background-image: url("imagenes_home/vigueta.png");
  background-size: 50vw;
}
.grid-container a:nth-child(6) .nombre {
  width: 65%;
}
.grid-container .item2 {
  grid-column: 3;
  grid-row: 2/span 2;
}
.grid-container .item5 {
  grid-column: 1/span 3;
  grid-row: 1;
}

#alterno {
  background-color: #BEBEBE;
}
#alterno:hover {
  background-color: white;
}

#block2 {
  height: 16.5vw;
  content: url("imagenes_home/blockXL3.png");
}

#adoquin {
  height: 15vw;
}

#adocreto {
  height: 18vw;
}

#adopasto2 {
  height: 16vw;
}

#poli {
  height: 25vw;
}

#vigueta {
  width: 70%;
  height: 15vw;
}

.vigueta {
  display: none;
  justify-content: center;
  align-content: center;
  height: 20vw;
  background-color: white;
  transition: all 0.5s ease;
  filter: brightness(0.7);
}
.vigueta:hover {
  filter: brightness(1);
}
@media only screen and (min-width: 900px) {
  .vigueta {
    display: flex;
    align-items: center;
  }
}

.contenedor-boton {
  display: none;
  align-content: center;
  justify-content: center;
}
@media only screen and (min-width: 900px) {
  .contenedor-boton {
    display: flex;
  }
}
.contenedor-boton .button {
  background: white;
  font-size: 28px;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 6.5rem;
  padding-right: 6.5rem;
  border: 1px solid black;
  transition: all 0.5s ease;
  margin-top: 5rem;
  margin-bottom: 5rem;
  color: #00A1BB;
  border-color: #D8D8D8;
}
.contenedor-boton .button:hover {
  background-color: #D8D8D8;
  text-decoration: none;
  border-color: #D8D8D8;
}
@media only screen and (min-width: 900px) {
  .contenedor-boton .button {
    font-size: 20px;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 3.25rem;
    padding-right: 3.25rem;
  }
}

.descargas {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 5rem;
  padding-top: 5rem;
}
@media only screen and (min-width: 600px) {
  .descargas {
    padding-top: 0rem;
  }
}
.descargas .contenedor {
  padding-right: 2rem;
  padding-left: 2rem;
}
.descargas .contenedor:nth-child(1) {
  padding-top: 3rem;
}
.descargas .contenedor:nth-child(2) {
  padding-bottom: 3rem;
  padding-top: 2rem;
}
.descargas .contenedor #flecha-descarga {
  display: none;
}
@media only screen and (min-width: 600px) {
  .descargas .contenedor {
    flex: 50%;
  }
  .descargas .contenedor:nth-child(1) {
    padding-left: 17vw;
    padding-top: 3rem;
  }
  .descargas .contenedor:nth-child(2) {
    padding-right: 17vw;
    padding-top: 3rem;
  }
  .descargas .contenedor #flecha-descarga {
    display: block;
    transform: translate(5vw, -5vw);
    height: 3vw;
    content: url("imagenes_nosotros/descarga.svg");
    transition: all 0.5s ease;
  }
}
.descargas .contenedor a:hover #flecha-descarga {
  content: url("imagenes_nosotros/descarga-azul.svg");
}

#catalogo {
  content: url("imagenes_nosotros/catalogo-m.jpg");
}
@media only screen and (min-width: 600px) {
  #catalogo {
    content: url("imagenes_nosotros/catalogo.jpg");
  }
}

#ficha {
  content: url("imagenes_nosotros/ficha-m.jpg");
}
@media only screen and (min-width: 600px) {
  #ficha {
    content: url("imagenes_nosotros/ficha.jpg");
  }
}

#alambre {
  width: 100%;
  content: url("imagenes_home/alambre.png");
}
@media only screen and (min-width: 600px) {
  #alambre {
    content: url("imagenes_home/alambreXL.png");
  }
}

/* EMPIEZA FOOTER */
footer {
  background-color: #333333ff;
  font-family: gothamlight;
}

.footer-movil {
  color: white;
  font-size: 12px;
  letter-spacing: 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #333333ff;
  height: 259px;
  max-width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.logo-blanco {
  background-image: url("logo-dispreh.svg");
  width: 4rem;
  /* margin: 2rem, 2rem; */
  margin-top: 4.73rem;
  padding-bottom: 3.2rem;
  background-size: 100%;
  background-repeat: no-repeat;
}

a i {
  padding-top: 2.8rem;
}

.footer-movil a {
  color: white;
}

.letra {
  transform: rotate(-45deg);
}

#grande {
  display: none;
}

@media only screen and (min-width: 769px) {
  #grande {
    display: block;
  }

  .footer-movil {
    display: none;
  }
}
.arriba {
  display: flex;
  margin-left: 3rem;
  margin-right: 3rem;
  padding-top: 2rem;
  font-family: oratorstd;
}
.arriba .iconos-footer {
  flex: 43%;
}
.arriba .iconos-footer a {
  padding-right: 1rem;
}
.arriba .flecha {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 40%;
}
.arriba .flecha .fas {
  color: white;
}
.arriba .enlaces {
  display: flex;
  flex: 43%;
  justify-content: space-between;
}
.arriba .enlaces a {
  color: white;
  padding-right: 1.3rem;
}

.recibe {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #00A1BB;
  margin-top: 2rem;
}

.abajo {
  color: white;
  display: flex;
  justify-content: space-between;
  margin-left: 3rem;
  margin-right: 3rem;
  padding-bottom: 2rem;
  font-size: 10px;
  letter-spacing: 1px;
}

.ingresa {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
.ingresa input[type=text] {
  background: transparent;
  letter-spacing: 3px;
  width: 44%;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  color: white;
  border-bottom: 1px solid white;
  margin-bottom: 3rem;
  font-size: 1rem;
}

.estimado {
  background-image: url("logo-dispreh.svg");
  width: 11rem;
  height: 70px;
  /* margin: 2rem, 2rem; */
  margin-left: 1rem;
  background-size: 100%;
  background-repeat: no-repeat;
}

/*TERMINA FOOTER*/

/*# sourceMappingURL=home.css.map */
