@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Raleway);
@font-face {
  font-family: oratorstd;
  src: url("fuentes/OratorStd.otf") format("opentype");
}
@font-face {
  font-family: gothamlight;
  src: url("fuentes/Gotham-Light.otf") format("opentype");
}
@font-face {
  font-family: gothamBook;
  src: url("fuentes/Gotham Book Regular.otf");
}
* {
  box-sizing: border-box;
}

:root {
  font-size: 16px;
}

.portada {
  height: 493px;
  background-image: url("imagenes_nosotros/portadaS.png");
  background-size: cover;
}
.portada .sub-portada {
  height: 375px;
  background-image: url("imagenes_nosotros/cascos.png");
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 2rem;
}
.portada .sub-portada p {
  color: white;
  font-size: 28px;
  text-align: center;
  font-family: oratorstd;
  margin-right: 2rem;
}

/* MENU *************************************************/
/* BARRA DE NAVEGACION */
.topnav {
  font-family: oratorstd;
  justify-content: space-between;
  display: flex;
  overflow: hidden;
  background-color: transparent;
  height: 120px;
}
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 2rem 1.5rem;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  color: #00A1BB;
}
.topnav a .active {
  color: #00A1BB;
}

/* desaparecerlo en movil */
.topnav-right {
  display: none;
}

/* LOGO */
.logo {
  background-image: url("logo-dispreh.svg");
  width: 4rem;
  height: 70px;
  /* margin: 2rem, 2rem; */
  margin-top: 1.6rem;
  margin-left: 2rem;
  padding-bottom: 2.2rem;
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: 2;
}

/* BOTON DE MENU */
/* contenedor */
.btn-menu {
  margin: 1rem 2rem;
  padding-top: 1rem;
}

/* boton */
/* DIMENSIONES DEL LOGO Y MENU IPAD */
@media only screen and (min-width: 768px) and (max-width: 1100px) {
  .logo {
    width: 8rem;
  }

  .btn-menu {
    padding-top: 2rem;
  }
}
/* DESAPARECER MENU Y MOSTRAR BARRA DE NAVEGACION */
@media only screen and (min-width: 1100px) {
  .btn-menu {
    display: none;
  }

  .topnav-right {
    display: block;
    float: right;
    padding-top: 2.2rem;
    padding-right: 2rem;
  }

  .logo {
    width: 8rem;
    margin-top: 3rem;
    margin-left: 3rem;
  }

  .iconos a {
    padding-top: 1.65rem;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
  }
}
/* @media only screen and (min-width: 1300px){
    .topnav-right{
        padding-top: 3.65rem;
    }
} */
/* MENU Y SU ANIMACION */
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #28324D;
  background-color: #28324D;
  overflow-x: hidden;
  -webkit-transition: 1.5s;
  transition: 1.5s;
}
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: white;
  display: block;
  transition: 0.3s;
}
.overlay .closebtn {
  position: absolute;
  padding-top: 0px;
  height: 86px;
  right: 0px;
  font-size: 54px;
  padding-right: 34px;
}
.overlay .iconos-menu {
  display: flex;
  justify-content: center;
  padding-top: 5rem;
}
.overlay .iconos-menu .fa-1x {
  font-size: 0.6em;
}
.overlay .iconos-menu {
  display: flex;
  justify-content: center;
  padding-top: 5rem;
}
.overlay .overlay-content {
  position: relative;
  top: 15%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}
.overlay .overlay-content a .active {
  color: #929292;
}
.overlay .overlay-content a:hover {
  color: #929292;
}
.overlay .overlay-content a:focus {
  color: #929292;
}

/* TAMAÑO DE BOTON DE CERRADO DEL MENU */
@media only screen and (min-width: 768px) and (max-width: 899px) {
  .overlay .closebtn {
    position: absolute;
    right: 45px;
    font-size: 80px;
  }
}
/* Encerrar iconos en círculos */
i.fab {
  /* margin: 0.5em; */
  color: white;
  border: 1px solid #929292;
  border-radius: 50%;
  padding: 0.5em;
  transition: all 0.5s ease;
  width: 2.1em;
  text-align: center;
}
i.fab:hover {
  background: #929292;
}

.fila {
  display: flex;
  flex-wrap: wrap;
}
.fila .columna2 {
  font-family: gothamLight;
  font-size: 14.07px;
  flex: 100%;
  height: 230px;
  text-align: justify;
}
.fila .columna2:nth-child(1) p {
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
}
.fila .columna2 .contenedor-datos {
  font-family: gothamLight;
  border: 1px solid white;
  display: flex;
  flex-wrap: wrap;
  color: white;
  margin: 3%;
  font-size: 12px;
}
.fila .columna2 .contenedor-datos p {
  padding-left: 20px;
  align-content: space-between;
  padding-top: 1rem;
  font-size: 0.9rem;
  letter-spacing: 3px;
}
.fila .columna2 .contenedor-datos p:last-child {
  padding-bottom: 2rem;
}
.fila .columna2 .contenedor-datos b {
  color: #00A1BB;
}
.fila .columna2:nth-child(2) {
  background-color: #333333ff;
}

#titulo {
  font-size: 28.74px;
  margin-top: 2.5rem;
  letter-spacing: 2px;
  font-family: Raleway;
}

.contactamos {
  font-family: gothamlight;
  height: 150px;
}
.contactamos h1 {
  font-size: 28.74px;
  padding-top: 2rem;
  padding-left: 1rem;
  padding: 1rem;
  font-family: Raleway;
}
.contactamos p {
  font-size: 14.07px;
  padding: 1rem;
  padding-top: 0;
  text-align: justify;
}

.fila3 {
  display: flex;
  flex-wrap: wrap;
}
.fila3 .columna:nth-child(1) {
  order: 2;
  flex: 100%;
}
.fila3 .columna:nth-child(2) {
  order: 1;
  flex: 100%;
}
.fila3 .columna:nth-child(2) input[type=text] {
  letter-spacing: 3px;
  width: 80%;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  color: #d9dddf;
  border-bottom: 1px solid #78797c;
  margin-bottom: 1rem;
  font-size: 1rem;
}
.fila3 .columna:nth-child(2) input[type=submit] {
  align-items: center;
  align-content: center;
  margin-top: 1rem;
  font-size: 1rem;
  /* margin-left: 35%; */
  border: 1px solid;
  border-color: #333333ff;
  color: #00A1BB;
  background: transparent;
  cursor: pointer;
  font-family: gothamlight;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  transition: all 0.5s ease;
  margin-bottom: 1.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.fila3 .columna:nth-child(2) input[type=submit]:hover {
  border-color: #00A1BB;
  color: #333333ff;
  background-color: #00A1BB;
}
.fila3 .columna .a {
  display: flex;
  align-items: center;
  justify-content: center;
}
.fila3 .columna .b {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.fila3 .columna .terms {
  font-family: gothamlight;
  display: flex;
  font-size: 12.37px;
  text-align: center;
  font-family: gothamlight;
  align-items: center;
  justify-content: center;
}
.fila3 .columna .terms span {
  font-family: gothamlight;
}

/*# sourceMappingURL=nosotros.css.map */
