@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Raleway);
@font-face {
  font-family: oratorstd;
  src: url("fuentes/OratorStd.otf") format("opentype");
}
@font-face {
  font-family: gothamlight;
  src: url("fuentes/Gotham-Light.otf") format("opentype");
}
@font-face {
  font-family: gothamBook;
  src: url("fuentes/Gotham Book Regular.otf");
}
/* BARRA DE NAVEGACION  (ESTO SE VE EN ESCRITORIO)*/
.topnav {
  font-family: oratorstd;
  justify-content: space-between;
  display: flex;
  overflow: hidden;
  background-color: transparent;
  z-index: 3;
}
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 2rem 1.5rem;
  text-decoration: none;
  font-size: 17px;
}
@media only screen and (min-width: 1500px) {
  .topnav a {
    font-size: 27px;
  }
}
.topnav a:hover {
  color: #00A1BB;
}
.topnav .active {
  color: #00A1BB;
}

/* LOGO */
.logo {
  background-image: url("logo-dispreh.svg");
  width: 4rem;
  height: 70px;
  /* margin: 2rem, 2rem; */
  margin-top: 1.6rem;
  margin-left: 2rem;
  padding-bottom: 2.2rem;
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: 4;
}

/* BOTON DE MENU */
/* contenedor */
.btn-menu {
  margin: 1rem 2rem;
  padding-top: 1rem;
  z-index: 2;
}

/* desaparecerlo en movil */
.topnav-right {
  display: none;
}

/* boton */
/* DIMENSIONES DEL LOGO Y MENU IPAD */
@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .logo {
    width: 6rem;
  }

  .btn-menu {
    padding-top: 2rem;
  }
}
/* DESAPARECER MENU Y MOSTRAR BARRA DE NAVEGACION */
@media only screen and (min-width: 1100px) {
  .btn-menu {
    display: none;
  }

  .topnav-right {
    display: block;
    float: right;
    padding-top: 2.2rem;
    padding-right: 2rem;
    z-index: 2;
  }

  .logo {
    width: 8rem;
    margin-top: 3rem;
    margin-left: 3rem;
  }

  .iconos a {
    padding-top: 1.65rem;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
  }
}
/* MENU Y SU ANIMACION  (ESTO ES LO QUE SE VE EN MOVIL)*/
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  background-color: #28324D;
  overflow-x: hidden;
  -webkit-transition: 1.5s;
  transition: 1.5s;
}
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: white;
  display: block;
  transition: 0.3s;
}
.overlay .closebtn {
  position: absolute;
  padding-top: 0px;
  height: 86px;
  right: 0px;
  font-size: 54px;
  padding-right: 34px;
}
@media only screen and (min-width: 768px) and (max-width: 899px) {
  .overlay .closebtn .overlay .closebtn {
    position: absolute;
    right: 45px;
    font-size: 80px;
  }
}
.overlay .iconos-menu {
  display: flex;
  justify-content: center;
  padding-top: 5rem;
}
.overlay .iconos-menu .fa-1x {
  font-size: 0.6em;
}
.overlay .iconos-menu {
  display: flex;
  justify-content: center;
  padding-top: 5rem;
}
.overlay .overlay-content {
  position: relative;
  top: 15%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}
.overlay .overlay-content a .active, .overlay .overlay-content a:hover, .overlay .overlay-content a:focus {
  color: #929292;
}

/* Encerrar iconos en círculos */
i.fab {
  /* margin: 0.5em; */
  color: white;
  border: 1px solid #929292;
  border-radius: 50%;
  padding: 0.5em;
  transition: all 0.5s ease;
  width: 2.1em;
  text-align: center;
}
i.fab:hover {
  background: #929292;
}

.portada {
  height: 123vw;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("imagenes_productos/portada.png");
}
@media only screen and (min-width: 600px) {
  .portada {
    background-image: url("imagenes_productos/portadaXL.png");
    height: 53vw;
    background-size: cover;
  }
}
.portada h1 {
  color: white;
  font-family: oratorstd;
  font-size: 7vw;
  padding-top: 24vw;
  text-align: center;
}
@media only screen and (min-width: 600px) {
  .portada h1 {
    font-size: 3.5vw;
    padding-top: 12vw;
  }
  .portada h1 br {
    display: none;
  }
}

.seccion1 {
  margin: 2rem;
  font-family: gothamlight;
}
.seccion1 br {
  display: none;
}
@media only screen and (min-width: 600px) {
  .seccion1 br {
    display: block;
  }
}
@media only screen and (min-width: 600px) {
  .seccion1 {
    background-image: url("imagenes_productos/fondo.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 29vw;
    margin: 0;
  }
}
@media only screen and (min-width: 600px) {
  .seccion1 p {
    margin-left: 4rem;
  }
}
@media only screen and (min-width: 600px) {
  .seccion1 p:nth-child(1) {
    padding-top: 3rem;
  }
}

.nombres {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30vw;
}
@media only screen and (min-width: 600px) {
  .nombres {
    height: 15vw;
  }
}
.nombres h1 {
  color: #00A1BB;
  text-align: center;
  font-size: 1.5rem;
  font-family: oratorstd;
}
.nombres h3 {
  font-family: Raleway;
  font-size: 1rem;
  text-align: center;
}

.contenedor-botones {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contenedor-botones .boton1 {
  background-color: #D8D8D8;
  border: none;
  color: #00A1BB;
  font-size: 14px;
  cursor: pointer;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  margin-top: 3rem;
}
.contenedor-botones .boton1:hover {
  background-color: #D8D8D8;
  text-decoration: none;
  border-color: #D8D8D8;
}
.contenedor-botones .boton2 {
  background-color: #333333ff;
  border: none;
  color: #00A1BB;
  font-size: 14px;
  cursor: pointer;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  margin-top: 1.3rem;
  margin-bottom: 2rem;
}
.contenedor-botones .boton2:hover {
  background-color: #D8D8D8;
  text-decoration: none;
  border-color: #D8D8D8;
}

.subcontenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: 1px;
}
.subcontenedor img {
  height: 14vw;
}

.byv {
  display: flex;
  flex-wrap: wrap;
  background-color: #D8D8D8;
}
.byv .contenedor {
  flex: 100%;
  display: flex;
  justify-content: center;
  border: 1px solid white;
  margin: 1px;
  height: 30vw;
}
@media only screen and (min-width: 600px) {
  .byv .contenedor {
    flex: 48.5%;
  }
}

.ea {
  display: flex;
  flex-wrap: wrap;
  background-color: #D8D8D8;
}
.ea .contenedor {
  flex: 48.5%;
  display: flex;
  justify-content: center;
  border: 1px solid white;
  margin: 1px;
  height: 30vw;
}
.ea .contenedor:nth-child(3) {
  flex: 100%;
}
@media only screen and (min-width: 600px) {
  .ea .contenedor:nth-child(3) {
    flex: 33%;
  }
}
@media only screen and (min-width: 600px) {
  .ea .contenedor {
    flex: 33%;
  }
}

.block {
  display: flex;
  flex-wrap: wrap;
  background-color: #D8D8D8;
}
.block .contenedor {
  flex: 48.5%;
  display: flex;
  justify-content: center;
  border: 1px solid white;
  margin: 1px;
  height: 30vw;
}
@media only screen and (min-width: 600px) {
  .block .contenedor {
    flex: 48.5%;
  }
}
@media only screen and (min-width: 900px) {
  .block .contenedor {
    flex: 30%;
  }
}

.adocreto {
  display: flex;
  flex-wrap: wrap;
  background-color: #D8D8D8;
}
.adocreto .contenedor {
  flex: 48.5%;
  display: flex;
  justify-content: center;
  border: 1px solid white;
  margin: 1px;
  height: 30vw;
}
@media only screen and (min-width: 600px) {
  .adocreto .contenedor {
    flex: 48.5%;
  }
}
@media only screen and (min-width: 900px) {
  .adocreto .contenedor {
    flex: 30%;
  }
}

/* EMPIEZA FOOTER */
footer {
  background-color: #333333ff;
  font-family: gothamlight;
}

.footer-movil {
  color: white;
  font-size: 12px;
  letter-spacing: 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #333333ff;
  height: 259px;
  max-width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.logo-blanco {
  background-image: url("logo-dispreh.svg");
  width: 4rem;
  /* margin: 2rem, 2rem; */
  margin-top: 4.73rem;
  padding-bottom: 3.2rem;
  background-size: 100%;
  background-repeat: no-repeat;
}

a i {
  padding-top: 2.8rem;
}

.footer-movil a {
  color: white;
}

.letra {
  transform: rotate(-45deg);
}

#grande {
  display: none;
}

@media only screen and (min-width: 769px) {
  #grande {
    display: block;
  }

  .footer-movil {
    display: none;
  }
}
.arriba {
  display: flex;
  margin-left: 3rem;
  margin-right: 3rem;
  padding-top: 2rem;
  font-family: oratorstd;
}
.arriba .iconos-footer {
  flex: 43%;
}
.arriba .iconos-footer a {
  padding-right: 1rem;
}
.arriba .flecha {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 40%;
}
.arriba .flecha .fas {
  color: white;
}
.arriba .enlaces {
  display: flex;
  flex: 43%;
  justify-content: space-between;
}
.arriba .enlaces a {
  color: white;
  padding-right: 1.3rem;
}

.recibe {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #00A1BB;
  margin-top: 2rem;
}

.abajo {
  color: white;
  display: flex;
  justify-content: space-between;
  margin-left: 3rem;
  margin-right: 3rem;
  padding-bottom: 2rem;
  font-size: 10px;
  letter-spacing: 1px;
}

.ingresa {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
.ingresa input[type=text] {
  background: transparent;
  letter-spacing: 3px;
  width: 44%;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  color: white;
  border-bottom: 1px solid white;
  margin-bottom: 3rem;
  font-size: 1rem;
}

.estimado {
  background-image: url("logo-dispreh.svg");
  width: 11rem;
  height: 70px;
  /* margin: 2rem, 2rem; */
  margin-left: 1rem;
  background-size: 100%;
  background-repeat: no-repeat;
}

/*TERMINA FOOTER*/
/* TAMAÑO DE IMÁGENES */

/*# sourceMappingURL=productos.css.map */
